In [1]:
import os
import pandas as pd
os.chdir(os.getcwd() + "/../")

In [2]:
from data_cofig import data_config

In [3]:
train_df = pd.read_csv(data_config.train_data_path,sep="\t")

In [4]:
train_df

,quality,#1 string,#2 string
0,1,amrozi accused his brother whom he called the ...,referring to him as only the witness amrozi ac...
1,0,yucaipa owned dominicks before selling the cha...,yucaipa bought dominicks in 1995 for $693 mill...
2,1,they had published an advertisement on the int...,on june 10 the ships owners had published an a...
3,0,around 0335 gmt tab shares were up 19 cents or...,tab shares jumped 20 cents or 4.6% to set a re...
4,1,the stock rose $2.11 or about 11 percent to cl...,pg&e corp. shares jumped $1.63 or 8 percent to...
...,...,...,...
4071,1,at this point mr. brando announced somebody ou...,brando said that somebody ought to put a bulle...
4072,0,martin 58 will be freed today after serving tw...,martin served two thirds of a five-year senten...
4073,1,we have concluded that the outlook for price s...,in a statement the ecb said the outlook for pr...
4074,1,the notification was first reported friday by ...,msnbc.com first reported the cia request on fr...
4075,0,the 30-year bond us30yt=rr rose 22/32 for a yi...,the 30-year bond us30yt=rr grew 1-3/32 for a y...